.faqs-page {
  display: flex;
}

.faqs-main-content {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 60px;
  margin-bottom: 40px;
  flex-grow: 1;
  width: 100%;
}  

.faqs-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
}

.faqs-accordion {
  width: 100%;
  width: 900px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  
}

.faq-item {
  border-bottom: 2px solid #ddd;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
}

.faq-icon {
  color: var(--color-blue);
}

.faq-answer {
  margin-top: 10px;
  color: #555;
}


@media (max-width: 1280px) {
  .faqs-main-content {
    /* margin: 40px; */
  }
}

/* For screens below 1230px */
@media (max-width: 1280px) {
  .faqs-main-content {
    margin-left: 0px; 
    padding: 30px;
    margin-top: 20px;
  }

  .faqs-title {
    font-size: 1.8em; 
  }

  .faqs-accordion {
    width: 100%; 
    padding: 10px;
  }

  .faq-item {
    font-size: 1.1em; 
  }
}

/* For screens below 768px */
@media (max-width: 768px) {

  .faqs-main-content {
    margin: 20px auto; 
    width: 90%; 
    padding: 25px;
    margin-left: 0px;
    margin-top: 130px;
  }

  .faqs-title {
    font-size: 1.5em; 
  }

  .faq-item {
    font-size: 1em; 
    padding: 8px 15px; 
  }

  .faq-question {
    font-size: 1em; 
    height: auto; 
  }

  .faq-answer {
    font-size: 0.9em; 
  }
}

@media (max-width: 750px) {
  .faqs-main-content {
    margin-top: 0;
  }
}


@media (max-width: 540px) {
  .faqs-main-content {
    margin-top: 0;
  }
}

/* For screens below 480px */
@media (max-width: 480px) {
  .faqs-title {
    font-size: 1.3em; 
  }

  .faqs-main-content {
    width: 100%; 
    padding: 30px;
    margin-left: 0;
  }

  .faq-item {
    font-size: 0.9em; 
    padding: 5px 10px;
  }

  .faq-answer {
    font-size: 0.8em;
    margin-top: 5px; 
  }

  .faq-icon {
    font-size: 0.8em; 
  }
}
