.password-page {
  display: flex;
  
}

.password-content {
  flex: 1;
  padding: 20px;
  margin-left: 40px;
  margin-top: 30px;
  width: 100%;
}

.password-form {
  margin-bottom: 40px;
  margin-top: 40px;
}

.password-form-group {
  margin-bottom: 20px;
  width: 100%;
}

.password-form-group label {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.password-form-group  input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.update-password-btn {
  background-color: var(--color-blue);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-password-btn:hover {
  background-color: #186bbe;
  color: white;
}

.two-factor-section,
.security-tips {
  margin-top: 30px;
}

.two-factor-section h2, .security-tips h2 {
  margin-bottom: 10px;
}

ul.password-security-tips {
  list-style-type: disc;
  padding-left: 20px;
}

.enable-2fa-btn {
  background-color: rgb(52, 129, 52);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.enable-2fa-btn:hover {
  background-color: rgb(39, 87, 39);
  color: white;
}

.success-message {
  color: var(--color-green);
  background-color: #d4edda;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.error-message {
  color: var(--color-red);
  background-color: #f8d7da;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.loading-spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 1280px) {
  .password-content {
    margin-top: 20px;
    margin-left: 0;
    padding: 35px;
  }

  .password-form-group label {
    font-size: 22px;
  }

  .password-content p, .password-content li {
    font-size: 22px;
  }
}


@media (max-width: 992px) {
  .password-content {
    margin-top: 20px;
  }

  .password-form-group label {
    font-size: 19px;
  }
}


/* Media Query for larger screens (min-width: 768px) */
@media (max-width: 768px) {
  .password-page {
    flex-direction: row; 
  }

  .password-form-group input {
    max-width: 600px;
  }

  .password-content {
    margin-left: 0;
    padding: 30px;
    margin-top: 130px;
  }
}

/* Media Query for smaller screens (max-width: 576px) */
@media (max-width: 576px) {
  .password-form-group input {
    width: 100%; 
    margin-bottom: 10px;
  }

  .update-password-btn,
  .enable-2fa-btn {
    width: 100%; 
    padding: 12px;
  }

  .two-factor-section,
  .security-tips {
    margin-top: 20px;
  }

  ul.password-security-tips {
    padding-left: 10px; 
  }

  .password-content {
    margin-left: 0;
    padding: 30px;
    margin-top: 0;
  }
}