div.success-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* margin: 100px 30px 50px 30px; */
  margin-top: 180px;
  padding: 20px;
  background-color: whitesmoke; 
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  width: 100%; 
  height: auto;
  max-width: 800px; 
  min-height: 100px;
}

.success-page h1 {
  font-size: 2.5rem;
  color: var(--color-green);
}

.success-page p {
  font-size: 1.2rem;
  margin: 20px 0;
  color: var(--color-dark-gray);
}

.success-page-actions {
  display: flex;
  gap: 20px;
}

.success-button {
  display: flex;
  column-gap: 20px;
}

.success-button .btn {
  background: var(--color-teal);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.success-page .btn:hover {
  background: rgb(23, 23, 23);
}


/* For tablets (1024px and below) */
@media (max-width: 1024px) {
  div.success-page {
    margin-bottom: 30px;
  }
}

/* For tablets (768px and below) */
@media (max-width: 768px) {
  .success-page {
    margin-top: 30px;
    padding: 15px;
    box-shadow: none; 
    border-radius: 5px;
    max-width: 90%;
    margin-right: 20px;
    margin-left: 20px;
  }

  .success-page h1 {
    font-size: 2rem; 
    text-align: center;
  }

  .success-page p {
    font-size: 1rem;
    text-align: center;
  }

  .success-button {
    flex-direction: column; 
    gap: 10px;
    width: 100%;
  }

  .success-button .btn {
    width: 100%; 
    padding: 8px;
    font-size: 1rem;
  }
}

/* For mobile devices (576px and below) */
@media (max-width: 576px) {
  .success-page {
    /* margin-top: 100px; */
    padding: 10px;
  }

  .success-page h1 {
    font-size: 1.8rem;
  }

  .success-page p {
    font-size: 0.9rem;
  }

  .success-button .btn {
    padding: 8px 12px;
    font-size: 0.9rem;
  }

  a.btn {
    margin-left: 0;
  }
}
